.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5;
  cursor: pointer;
  user-select: none;
  border: 0;
  text-decoration: none;
  background: linear-gradient(100deg, #fd953a 0%, #fb8014 50%, #ec6105 100%);
  color: white;
  font-weight: bold;
  text-align: center;

  font-size: 14px;
  height: 32px;
  padding: 8px 16px;
  border-radius: 4px;
}

.ButtonSimple {
  box-shadow: unset;
  background: transparent;
  border: unset;
  border-radius: unset;
  padding: 0;
  height: unset;
}

.Button[disabled] {
  cursor: default;
}

.Button:hover {
  /* background: linear-gradient(145deg, #FD953A 0%, #FB8014 50%, #EC6105 100%); */
  opacity: 0.8;
}

.Button:active {
  /* transform: translate(2px, 2px); */
  /* box-shadow: 1px 1px #FB801466; */
  opacity: 0.5;
}

.Button[disabled] {
  opacity: 0.5;
}

.Button[disabled]:hover {
  transform: unset;
  /* box-shadow: 3px 3px #FB801466; */
}

.ButtonOutline {
  background: white;
  color: #fb8014;
  border: 1px solid #fd953a;
}

.ButtonOutline:hover {
  background: white;
}

.ButtonGray {
  background-color: white;
  color: #888;
  border: 1px solid #888;
  /* box-shadow: 3px 3px #ccc; */
}

.ButtonSmall {
  font-size: 12px;
  height: 24px;
  padding: 4px 8px;
  /* box-shadow: 2px 2px #FB801466; */
}
.ButtonSmall:active {
  transform: translate(2px, 2px);
  /* box-shadow: 0px 0px #FB801466; */
}

.ButtonSmall.ButtonGray,
.ButtonSmall.ButtonBlack {
  /* box-shadow: 2px 2px #ccc; */
}

.Button.ButtonSmall:active {
  transform: translate(2px, 2px);
  /* box-shadow: 0px 0px #ccc; */
}

.ButtonWhite {
  background-color: white;
  color: #fb8014;
  border: 0;
  /* box-shadow: 0px 0px; */
}

.ButtonWhite:active,
.ButtonSmall.Button-white:active {
  transform: translate(0, 0);
  opacity: 0.5;
}

.ButtonTrans,
.ButtonGray.ButtonTrans,
.ButtonBlack.ButtonTrans {
  background: transparent;
  color: #fb8014;
  border: 0;
  padding: 0;
  /* box-shadow: unset; */
}
.ButtonGray.ButtonTrans {
  color: #888;
}
.ButtonBlack.ButtonTrans {
  color: #333;
}

.ButtonTrans:active,
.ButtonSmall.ButtonTrans:active {
  transform: translate(0, 0);
  opacity: 0.5;
}

.ButtonLarge {
  font-size: 18px;
  height: 42px;
  padding: 10px 24px;
  /* box-shadow: 3px 3px #FB801466; */
}
